<div class="card">

  <div *ngIf="editedWish" class="card-body">
    <form (ngSubmit)="onSubmit()" #wishEditForm="ngForm">
      <div class="form-group">
        <label for="title">Titel</label>
        <input #editWishTitleInput [(ngModel)]="editedWish.title" type="text" class="form-control" id="title" name="title" required>
      </div>

      <div class="form-group">
        <label for="maxSum">Betrag</label>
        <input [(ngModel)]="editedWish.value" type="number" class="form-control" name="value" id="value" required>
      </div>

      <div class="form-group">
        <label for="description">Beschreibung</label>
        <input [(ngModel)]="editedWish.description" type="text" class="form-control" id="description" name="description" required>
      </div>

      <div class="clearfix">
        <div class="float-right btn-group" role="group">
          <button type="submit" class="btn btn-success" [disabled]="!wishEditForm.form.valid">Ok</button>
          <button type="button" class="btn btn-secondary" (click)="cancelEditWish()">Cancel</button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="!editedWish" class="card-header">

    <div class="clearfix">
      <h6 class="card-title float-left">{{wish.title}}</h6>
      <div class="float-right btn-group" role="group">
        <button class="fa fa-pencil btn btn-secondary" type="button" aria-hidden="true" (click)="editWish()"></button>
        <button class="fa fa-trash btn btn-secondary" type="button" aria-hidden="true" (click)="deleteWish()"></button>
      </div>
    </div>

    <div class="clearfix">
      <h6 class="card-title float-left">{{wish.currentValue | currency:'EUR':'symbol-narrow'}} - {{wish.value | currency:'EUR':'symbol-narrow'}}</h6>
      <ngb-progressbar class="float-right" type="success" [value]="wish.getPercent()"></ngb-progressbar>
    </div>
  </div>

  <div *ngIf="!editedWish" class="card-body">
    <p class="card-text">{{wish.description}}</p>

    <ul class="list-group list-group-flush">
      <li class="list-group-item clearfix" *ngFor="let donor of wish.getDonors()">
        <span class="float-left">{{donor.name}}</span>
        <span class="float-right">
        {{donor.amount | currency:'EUR':'symbol-narrow'}}
        <span class="fa fa-trash btn btn-secondary" (click)="donor.remove()"></span>
        </span>
      </li>
    </ul>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" (click)="open(content)">Beteiligen</button>
    </div>
  </div>
</div>
