<div *ngIf="editingWish" class="card-header">
  <app-add-wish-form [wish]='wish' (modifiedWish)='modifyWish($event)'></app-add-wish-form>
</div>

<div *ngIf="!editingWish" class="card-header">

  <div class="row">
    <div class="col-10 col-md-6 col-lg-7">
      <h6 class="card-title float-left">{{wish.title}}</h6>
    </div>

    <div class="col-2 col-md-2 order-md-12 col-lg-2 order-lg-12">
      <div class="btn-group float-right" role="group">
        <button class="fa fa-pencil btn btn-secondary" type="button" aria-hidden="true" (click)="editWish()"></button>
        <button class="fa fa-trash btn btn-secondary" type="button" aria-hidden="true" (click)="deleteWish()"></button>
      </div>
      <img class="img-fluid img-pin" src="./assets/img/pin.png">
    </div>

    <div class="col-12 col-md-4 col-lg-3">
      <ngb-progressbar class="mt-1 align-middle" type="info" height="20px" [value]="getPercent()">
        <div class="progress-bar-content">{{wish.currentValue | currency:'EUR':'symbol-narrow'}} von {{wish.value |
          currency:'EUR':'symbol-narrow'}}
        </div>
      </ngb-progressbar>
    </div>
  </div>

</div>

<div class="card-body">
  <div class="row">
    <div *ngIf="!wish.image" class="col-md-6 col-lg-7">
      <p class="card-text">{{wish.description}}</p>
    </div>
    <div *ngIf="wish.image" class="col-md-6 col-lg-7">
      <div class="row">
        <div class="col-lg-6 pb-2">
          <img class="img-fluid rounded" [src]="wish.image">
        </div>
        <div class="col-lg-6">
          <p class="card-text">{{wish.description}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-5">
      <div class="card">

        <div class="card-header">
          <p *ngIf="!isGiven()">Hier können Sie sich am Geschenk beteiligen</p>
          <div *ngIf="isGiven()" class="cleafix">
            <div class="float-left">
              Verschenkt
            </div>
            <div class="float-right">
              <img class="img-fluid img-present" src="./assets/img/present.png">
            </div>
          </div>
        </div>
        <div class="card-body card-body-participant">
          <ul class="list-group list-group-flush">
            <li class="list-group-item participant-item clearfix" *ngFor="let participant of wish.participants">
              <div *ngIf="editingParticipant !== participant">
                <span class="float-left">{{participant.name}}</span>
                <span class="float-right">
                  {{participant.amount | currency:'EUR':'symbol-narrow'}}
                  <span class="fa fa-trash btn btn-secondary" (click)="deleteParticipant(participant)"></span>
                <span class="fa fa-pencil btn btn-secondary" (click)="onEditParticipant(participant)"></span>
                </span>
              </div>
              <app-add-participant-form *ngIf="editingParticipant === participant" [participant]='participant'
                                        (modifiedParticipant)='editParticipant($event)'></app-add-participant-form>
            </li>
          </ul>

          <div *ngIf="!isGiven()">
            <input *ngIf="!creatingParticipant" type="text" class="form-control form-control-sm"
                   placeholder="Beteiligen" (click)="createNewParticipant()">
            <app-add-participant-form *ngIf="creatingParticipant"
                                      (modifiedParticipant)='createParticipant($event)'></app-add-participant-form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
