.card {
  /*width: 20rem;*/
  margin-top: 1rem;
}

ngb-progressbar {
  width: 6rem;
}

.img-present {
  position: absolute;
  right: 1rem;
  top: -1rem;
  height: 5rem;
}

.card-body-participant {
  background-color: beige;
}

.card-body-participant .list-group-item {
  background-color: beige;
}
