<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()" #wishForm="ngForm">
        <div class="form-group">
          <label for="title">Titel</label>
          <input [(ngModel)]="wish.title" type="text" class="form-control" id="title" name="titel" required>
        </div>

        <div class="form-group">
          <label for="description">Beschreibung</label>
          <input [(ngModel)]="wish.description" type="text" class="form-control" id="description" name="description">
        </div>

        <div class="form-group">
          <label for="value">Betrag</label>
          <input [(ngModel)]="wish.value" type="number" class="form-control" name="value" id="value">
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!wishForm.form.valid">Ok</button>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="close('Close click')">Close</button>
    </div>
  </div>
</div>