<div class="card" style="width: 23rem;">

  <div class="card-header">
    <h5 class="card-title"><div class="pull-left">{{wishlist.title}}</div>
    <div class="pull-right">{{wishlist.maxSum}} {{wishlist.sum}}</div>
    </h5>
  </div>

  <div class="card-body">
    <p class="card-text">
      <wish *ngFor="let wish of wishes" [wish]='wish'>
      </wish>
    </p>
    <a href="#" class="btn btn-primary" (click)="open(content)">Add Wish</a>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <app-add-wish-form [close]='c' [dismiss]='d' [wish]='null' (modifiedWish)='addWish($event)'></app-add-wish-form>
</ng-template>