<section class="p-3">

  <div class="container" *ngIf="root.wishlist">
    <div class="card bg-image-full">

      <app-add-wishlist-form *ngIf="editService.isEditing(root.wishlist)" [wishlist]='root.wishlist'
                             (modifiedWishlist)='modifyWishlist($event)'></app-add-wishlist-form>

      <div *ngIf="editService.isNotEditing(root.wishlist)" class="card-body">

        <h5 class="card-title float-left">{{root.wishlist.title}}</h5>

        <div *ngIf="isEditMode()" class="btn-group float-right" role="group">
          <button class="fa fa-pencil btn btn-info btn-sm" type="button" aria-hidden="true"
                  (click)="editWishlist()"></button>
          <button class="fa fa-trash btn btn-danger btn-sm" type="button" aria-hidden="true"
                  (click)="root.wishlist.deleteWishlist()"></button>
        </div>
      </div>
    </div>

    <app-wish class="card card-wish mt-3" *ngFor="let wish of root.wishlist.wishes" [wish]='wish'
              [adminAccount]="isEditMode()">
    </app-wish>

    <div *ngIf="editService.isNotEditing(newWish) && editService.isNotEditing(wish) && isEditMode()"
         class="card mt-3 card-new-wish">
      <img class="img-fluid img-add" src="./assets/img/add.png">
      <div class="card-header">
        <p>Hier können Sie der Wunschliste einen neuen Wunsch hinzufügen.</p>
      </div>
      <div class="card-body">
        <input type="text" class="form-control form-control-sm col-sm-12 col-md-6 m-auto" id="description"
               name="description"
               placeholder="Neuen Wunsch anlegen"
               (click)="createNewWish()">
      </div>
    </div>

    <div *ngIf="editService.isEditing(newWish)" class="card mt-3 card-new-wish">
      <img class="img-fluid img-add" src="./assets/img/add.png">
      <div class="card-header">
        <h6>Neuen Wunsch anlegen - Schritt 1 von 2</h6>
      </div>
      <div class="card-body">
        <app-add-wish-form (modifiedWish)='onAddWishFinished($event)'></app-add-wish-form>
      </div>
    </div>

    <div *ngIf="editService.isEditing(wish)" class="card mt-3 card-new-wish">
      <img class="img-fluid img-add" src="./assets/img/add.png">
      <div class="card-header">
        <h6>Neuen Wunsch anlegen - Schritt 2 von 2</h6>
      </div>
      <div class="card-body">
        <app-edit-wish-form [wish]='wish' (modifiedWish)='onEditWishFinished($event)'></app-edit-wish-form>
      </div>
    </div>

    <div class="text-center mt-3">
      <button class="btn btn-info mb-3" *ngIf="wishlistService.editMode"
              (click)="openSharePage()">
        <i class="fa fa-share-alt mr-2"></i>Teile Wunschliste
      </button>
      <button class="btn btn-info mb-3 ml-1" *ngIf="!wishlistService.editMode"
              (click)="openModal(content)">
        <i class="fa fa-edit mr-2"></i>Bearbeitung aktivieren
      </button>

      <ng-template #content let-modal>
        <div class="modal-header">
          <h5 class="modal-title" id="modal-basic-title"><i class="fa fa-edit mr-2"></i>Bearbeitung aktivieren</h5>
        </div>
        <div class="modal-body">
          <p>Hiermit aktivieren Sie die Bearbeitung der Wunschliste. Sie können anschließend:</p>
          <ul>
            <li>Wünsche bearbeiten</li>
            <li>Neue Wünsche anlegen</li>
            <li>Den Titel der Wunschliste ändern</li>
            <li>Die Wunschliste teilen</li>
            <li>Die Wunschliste löschen</li>
          </ul>
          <p> Bitte fahren Sie nur fort, wenn Sie dazu berechtigt sind.</p>
        </div>
        <div class="modal-footer">
          <div class="float-right btn-group" role="group">
            <button type="button" class="btn btn-success btn-sm"
                    (click)="(wishlistService.editMode = true) && modal.dismiss()">
              Bearbeitung aktivieren
            </button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="modal.dismiss()">Abbrechen</button>
          </div>
        </div>
      </ng-template>


    </div>

  </div>
</section>
