.card-body-wishlist {
  background-image: -webkit-linear-gradient(bottom, white 0%, #991155 300%);
  background-image: -moz-linear-gradient(bottom, white 0%, #991155 300%);
  background-image: -o-linear-gradient(bottom, white 0%, #991155 300%);
  background-image: linear-gradient(to top, white 0%, #991155 300%);
}

.card-new-wish > .card-body {
  background-color: beige;
}

.img-add {
  position: absolute;
  right: -1rem;
  top: -1rem;
  height: 3rem;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: url('../../assets/img/bg.jpg')
}

.bg-color-grey {
  background-color: #f5f5f5;
}
