.card-new-wish > .card-body {
  background-color: beige;
}

.img-add {
  position: absolute;
  right: -1rem;
  top: -1rem;
  height: 3rem;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: url('../../assets/img/bg.jpg')
}

.bg-color-grey {
  background-color: #f5f5f5;
}

.badge-gesamtbetrag {
  display: block;
}

.modal-header {
  background-color: navajowhite;
}

.modal-body, .modal-footer {
  background-color: beige;
}
