<div class="row">
  <div class="col-12 col-lg-6 mt-3">
    <div class="card link-card">
      <div class="card-header">
        Bearbeiten über
        <img class="img-fluid img-link-icon" src="./assets/img/wrench.png">
      </div>
      <div class="card-body link-container">
        <div class="d-flex mb-2">
          <div class="link-container-link"><span class="link-container-link-text">{{wishlist.id}}</span>
          </div>
          <div class="btn-group" role="group">
            <button class="fa fa-eye btn btn-secondary" type="button" aria-hidden="true"></button>
            <button class="fa fa-copy btn btn-secondary" type="button" aria-hidden="true"></button>
          </div>
        </div>
        <p class="mb-0 link-container-description">
          Jeder mit diesem Link kann die Wunschliste bearbeiten. Es ist kein Konto erforderlich.
        </p>
      </div>

    </div>
  </div>

  <div class="col-12 col-lg-6 mt-3">
    <div class="card link-card">
      <div class="card-header">
        Beteiligen über
        <img class="img-fluid img-link-icon" src="./assets/img/gruppe.png">
      </div>
      <div class="card-body link-container">
        <div class="d-flex mb-2">
          <div class="link-container-link"><span class="link-container-link-text">{{wishlist.id}}</span>
          </div>
          <div class="btn-group" role="group">
            <button class="fa fa-eye btn btn-secondary" type="button" aria-hidden="true"></button>
            <button class="fa fa-copy btn btn-secondary" type="button" aria-hidden="true"></button>
          </div>
        </div>
        <p class="mb-0 link-container-description">
          Jeder mit diesem Link kann sich an Wünschen beteiligen. Es ist kein Konto erforderlich.
        </p>
      </div>
    </div>
  </div>
</div>
