<div class="row">
  <div class="col-12 col-lg-6 mt-3">
    <div class="card link-card">
      <div class="card-header">
        Bearbeiten über
      </div>
      <div class="card-body link-container">
        <div class="d-flex mb-2">
          <div class="link-container-link"><span class="link-container-link-text">www.aidado.com/testestest</span></div>
          <div class="btn-group" role="group">
            <button class="fa fa-eye btn btn-secondary" type="button" aria-hidden="true"></button>
            <button class="fa fa-copy btn btn-secondary" type="button" aria-hidden="true"></button>
          </div>
        </div>
        <p class="mb-0">
          Jeder mit diesem Link kann die Wunschliste bearbeiten. Es ist kein Konto erforderlich.
        </p>
      </div>

    </div>
  </div>

  <div class="col-12 col-lg-6 mt-3">
    <div class="card link-card">
      <div class="card-header">
        Beteiligen über
      </div>
      <div class="card-body link-container">
        <div class="d-flex mb-2">
          <div class="link-container-link"><span class="link-container-link-text">www.aidado.com/testestest</span></div>
          <div class="btn-group" role="group">
            <button class="fa fa-eye btn btn-secondary" type="button" aria-hidden="true"></button>
            <button class="fa fa-copy btn btn-secondary" type="button" aria-hidden="true"></button>
          </div>
        </div>
        <p class="mb-0">
          Jeder mit diesem Link kann sich an Wünschen beteiligen. Es ist kein Konto erforderlich.
        </p>
      </div>
    </div>
  </div>
</div>
