.link-card {
  height: 100%
}

.link-container {
  background-color: beige;
}

.link-container-link {
  padding-left: 0.5rem;
  border-radius: 6px;
  background-color: #fff;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.link-container-description {
  color: black;
}

.link-container-link-text {
  display: inline-block;
  vertical-align: middle;
}

.img-link-icon-share {
  position: absolute;
  right: 0.5rem;
  top: -0.5rem;
  height: 4rem;
}

.img-link-icon-edit {
  height: 2rem;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: url('../../assets/img/bg.jpg')
}

.bg-blue-grad {
  background: linear-gradient(90deg, #79bac5, #f8f9fa);
}
