<div class="container">

  <div class="row mt-3" *ngIf="!wishlist">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5>Schenke das richtige. Ihre Wunschliste.</h5>
        </div>
        <div class="card-body body-new-wishlist">
          <p>Hier können Sie eine neue Wunschliste anlegen. Z.B. Geburtstag Leonie, oder Weihnachten Jonas. Nach dem Erstellen
            der Wunschliste können Sie dieser Geschenke hinzufügen.</p>
          <app-add-wishlist-form (modifiedWishlist)='createWishlist($event)'></app-add-wishlist-form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3" *ngIf="wishlist">
    <div class="col">
      <wishlist [wishlist]='wishlist' class="card"></wishlist>
    </div>
  </div>

  <footer class="footer mt-3">
    <p class="footer-text">Wishlist - Über - Impressum - AGB</p>
  </footer>
</div>
