/*@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}*/

/*.card-columns {
  column-fill: balance;
}*/

nav {
  background-image: linear-gradient(to top, white 0%, #28A748 100%);
  border-radius: 10px;
}

.link-container {
  background-color: rgba(0,0,0,.03);;
  border-radius: 10px;
  font-size: 0.9rem;
}

.link-container-link {
    max-width: 50%;
    font-size: 80%;
}

.body-new-wishlist {
  background-color: beige;
}