<form (ngSubmit)="onSubmit()" [formGroup]="addParticipantForm" class="form-inline">
  <div class="container">
    <div class="form-group row">
      <input #formParticipantNameInput formControlName="name" type="text"
             class="form-control form-control-sm col-sm-12 mb-1"
             name="name" id="name" placeholder="Name">

      <input formControlName="amount" type="number"
             class="form-control form-control-sm col-sm-12 mb-1"
             name="amount" id="amount" placeholder="Wert">
    </div>

    <div class="row" *ngIf="(name.dirty || amount.dirty) && addParticipantForm.invalid">
      <div class="alert alert-danger col-12">
        <p *ngIf="name.invalid">
          Bitte geben Sie einen Namen ein.
        </p>
        <p *ngIf="amount.invalid">
          Sie können maximal {{maxValue | currency:'EUR':'symbol-narrow'}} schenken.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="clearfix">
          <div class="float-right btn-group" role="group">
            <button type="submit" class="btn btn-success"
                    [disabled]="addParticipantForm.pristine || addParticipantForm.invalid">Ok
            </button>
            <button type="button" class="btn btn-secondary" (click)="cancelFormParticipant()">Abbrechen</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
