<form (ngSubmit)="onSubmit()" #participantForm="ngForm" class="form-inline">
  <div class="container">
    <div class="form-group row">
      <input #formParticipantNameInput [(ngModel)]="formParticipant.name" type="text"
             class="form-control form-control-sm col-sm-12 mb-1"
             id="name" name="name" placeholder="Name" required>

      <input [(ngModel)]="formParticipant.amount" type="number" min="1" max="3.33"
             class="form-control form-control-sm col-sm-12 mb-1"
             name="amount" id="amount" #amount="ngModel" placeholder="Wert">

      <div *ngIf="amoun.invalid && (name.dirty || name.touched)"
           class="alert alert-danger">

        <div *ngIf="amount.errors.max">
          Name is required.
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="clearfix">
          <div class="float-right btn-group" role="group">
            <button type="submit" class="btn btn-success" [disabled]="!participantForm.form.valid">Ok</button>
            <button type="button" class="btn btn-secondary" (click)="cancelFormParticipant()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
