<form (ngSubmit)="onSubmit()" [formGroup]="addWishForm" class="container">

  <div class="row">

    <div class="form-group col-md-6" *ngIf="!imgUrlData; else imageUploadingBlock">
      <label>Bild</label>
      <div>
        <img class="img-fluid rounded" [src]="imgUrl || './assets/img/empty-image.png'">
      </div>
      <div class="mt-2">

        <div class="row" *ngIf="imgUrl; else noImageBlock">
          <div class="col-md-6">
            <label role="button" class="btn btn-info btn-upload btn-sm">
              <i class="fa fa-upload mr-2"></i>Anderes Bild hochladen
              <input type="file" style="display: none;" (change)="uploadFile($event)">
            </label>
          </div>
          <div class="col-md-6 text-md-right">
            <button class="btn btn-danger btn-sm" type="button" aria-hidden="true" (click)="deleteFile()">
              <i class="fa fa-trash mr-2"></i>Bild löschen
            </button>
          </div>
        </div>

        <ng-template #noImageBlock>
          <label class="btn btn-info btn-upload btn-sm">
            <i class="fa fa-upload ml-2"></i>
            Bild hochladen
            <input type="file" style="display: none;" (change)="uploadFile($event)">
          </label>
        </ng-template>
      </div>
    </div>

    <ng-template #imageUploadingBlock>
      <div class="form-group col-md-6">
        <label>Bild</label>
        <div>
          <img class="img-fluid rounded img-wish-uploading" [src]="imgUrlData">
        </div>
        <div class="mt-2">

          <h5 class="badge badge-info">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            Bild wird hochgeladen...
          </h5>
        </div>
      </div>
    </ng-template>

    <div class="col-md-6">
      <div class="form-row">

        <div class="form-group col-md-12">
          <label for="url">Url</label>
          <input #formWishUrlInput formControlName="url" type="text" class="form-control form-control-sm"
                 id="url" name="url" placeholder="Url">
        </div>

        <div class="form-group col-md-12">
          <label for="value">Betrag</label>
          <input formControlName="value" type="number" class="form-control form-control-sm" name="value" id="value"
                 placeholder="Betrag">
        </div>

        <div class="form-group col-md-12">
          <label for="title">Titel</label>
          <input formControlName="title" type="text" class="form-control form-control-sm"
                 id="title" name="title" placeholder="Titel">
        </div>

        <div class="form-group col-md-12">
          <label for="description">Beschreibung</label>
          <textarea formControlName="description" class="form-control form-control-sm" id="description" rows="3"
                    name="description"></textarea>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="clearfix">
        <div class="float-right btn-group" role="group">
          <button type="submit" class="btn btn-success" [disabled]="addWishForm.invalid">Ok
          </button>
          <button type="button" class="btn btn-secondary" (click)="cancelFormWish()">Abbrechen</button>
        </div>
      </div>
    </div>
  </div>
</form>
