<section class="features-icons text-center bg-image-full pt-3" style="background-image: url('../../assets/img/bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-5">Schenke das richtige. Ihre Wunschlist</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <p>Hier können Sie eine neue Wunschliste anlegen. Z.B. Geburtstag Anna, oder Weihnachten Alex. Nach
          dem
          Erstellen
          der Wunschliste können Sie dieser Geschenke hinzufügen.</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <a class="d-block mb-2" routerLink="/demo-pw">Beispiel Wunschliste ansehen</a>
        <app-add-wishlist-form (modifiedWishlist)='createWishlist($event)'></app-add-wishlist-form>
      </div>
    </div>
  </div>
</section>

<section class="text-center mt-5">
  <div class="container">
    <div class="row">
      <div class="col-4 mx-auto">
        <h3 class="mb-5">Eine Wunschliste erstellen</h3>
      </div>
      <div class="col-4 mx-auto">
        <h3 class="mb-5">Wünsche hinzufügen</h3>
      </div>
      <div class="col-4 mx-auto">
        <h3 class="mb-5">Wunschliste teilen</h3>
      </div>
    </div>
  </div>
</section>

<section class="features-icons text-center" style="background-color: #f5f5f5">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <p class="m-3">Wollen Sie jemanden beschenken, aber nicht einfach irgendwas?
          Mit einer Wunschliste können Sie ganz gezielt Wünsche festlegen und Beträge setzen.
          Sie haben zu jeder Zeit den vollen Überblick über die Wünsche, können Änderungen vornehmen und so weiter.</p>
      </div>
    </div>
  </div>
</section>


