<section class="features-icons text-center pt-3">
  <div class="container">
    <div class="card dev">
      <h3>THIS SITE IS UNDER DEVELOPMENT AND NOT MEANT FOR USAGE.</h3>
    </div>
  </div>
</section>


<section class="features-icons text-center pt-3">
  <div class="container">

    <div class="card bg-image-full">
      <div class="card-header bg-blue-grad">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h3>Schenke das richtige. Ihre Wunschliste.</h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <p>Hier können Sie eine neue Wunschliste anlegen. Z.B. Geburtstag Anna, oder Weihnachten Alex. Nach
              dem
              Erstellen
              der Wunschliste können Sie dieser Geschenke hinzufügen.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="mt-5">
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-12">
        <app-add-wishlist-form (modifiedWishlist)='createWishlist($event)'></app-add-wishlist-form>
        <a class="d-block text-center mb-2" routerLink="/demo">Beispiel Wunschliste ansehen</a>
      </div>
    </div>
  </div>
</section>

<section class="features-icons text-center mt-5">
  <div class="container">
    <div class="card" style="background-color: #f5f5f5">
      <div class="card-body">
        <div class="row">
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <p class="m-3">Wollen Sie jemanden beschenken, aber nicht einfach irgendwas?
              Mit einer Wunschliste können Sie ganz gezielt Wünsche festlegen und Beträge setzen.
              Sie haben zu jeder Zeit den vollen Überblick über die Wünsche, können Änderungen vornehmen und so
              weiter.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


