<form (ngSubmit)="onSubmit()" #wishlistForm="ngForm">

  <div class="form-group row mb-0">
    <div class="col-sm-12">
      <div class="input-group mb-3">
        <input class="form-control form-control-sm" #formWishlistTitleInput [(ngModel)]="formWishlist.title" type="text"
               id="title"
               name="title"
               placeholder="Titel der neuen Wunschliste"
               required>
        <div class="input-group-append">
          <button type="submit" class="btn btn-success" [disabled]="!wishlistForm.form.valid">Ok</button>
          <button *ngIf="wishlist" type="button" class="btn btn-secondary" (click)="cancelFormWishlist()">Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
