<form (ngSubmit)="onSubmit()" #wishlistForm="ngForm">

  <div class="form-group">
    <label for="title">Titel</label>
    <input #formWishlistTitleInput [(ngModel)]="formWishlist.title" type="text" class="form-control form-control-sm" id="title" name="title"
      required>
  </div>

  <div class="form-group">
    <label for="maxSum">Höchtbetrag</label>
    <input [(ngModel)]="formWishlist.maxSum" type="number" class="form-control form-control-sm" name="maxSum" id="maxSum">
  </div>

  <div class="clearfix">
    <div class="float-right btn-group" role="group">
      <button type="submit" class="btn btn-success" [disabled]="!wishlistForm.form.valid">Ok</button>
      <button type="button" class="btn btn-secondary" (click)="cancelFormWishlist()">Cancel</button>
    </div>
  </div>
</form>
